* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a3438;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

header {
    background-color: #1d4141;

    img {
        width: 50px;
    }
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1rem;
}

.col-4 {
    width: calc((100%/12)*4);
    padding: 1rem;

    .card {
        padding: 1rem;
        background-color: #1d4141;
        text-align: center;
        color: white;
    }
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title,
.year {
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 0;
}

.modale {
    height: 100%;
    width: 100%;
    background-color: #1d4141d3;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;


    img {
        width: 100%;
        max-width: 100%;
    }

    .close{
        position: absolute;
        position: fixed;
        font-size: 30px;
        right: 0;
        top: 0;
    }
}